# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment folders
env/
venv/
.venv/

# Django stuff
*.sqlite3
db.sqlite3
*.log
*.pot
*.pyc
*.pyo

# Media and static files
media/
staticfiles/
*.csv
*.json

# IDE/editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db